* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
border:0;
} 
.boutton {
font-size: 80%;
color: white;
background: #eaaf67;
font-weight: bold;
border: solid;
border-color: #ddd width=200px;
padding: 0.2em .6em;
}
form.boutton {
font-size: 80%;
color: white;
background: #eaaf67;
font-weight: bold;
border: solid;
border-color: #ddd;
padding: 0.2em .6em;
}
.hibutton {
font-size: 80%;
color: white;
background: #FF2000;
font-weight: bold;
border: solid;
border-color: #FFB0B0;
padding: 0.2em .6em;
}
body {
background: #999;
}
body, div, p, blockquote, ol, ul, dl, li, dt, dd, td, th, box_logo, box_menu, copy, h3, h2 {
font: 13px verdana, arial, helvetica, sans-serif;
}
.box_menu {
text-align: center;
border: solid #ddd 2px;
background: #ddd;
font: 12px verdana, arial, helvetica, sans-serif;
margin: 0 10px;
padding: 2px;
}
.box_minicom {
text-align: center;
border-right: solid #ddd 2px;
border-left:  solid #ddd 2px;
background: #ffffff;
font: 12px verdana, arial, helvetica, sans-serif;
margin: 0 10px;
padding: 2px;
}
.box_fiche 
{
text-align: left;
border-top:   solid #ddd 4px;
border-left:  solid #ddd 4px;
border-right: solid #ddd 4px;
font-stretch: expanded;
background: #fff;
font: 13px verdana, arial, helvetica, sans-serif;
margin: 0 10px;
padding: 15px 30px 50px;
}

.lordi {
margin-top: 5px;
margin-bottom: 3px;
color: #FFFFFE;
text-align: center;
width: 100%;
font: Bold 110% verdana, arial, helvetica, sans-serif;
padding: 0 0 0 5px;
}
a.lordi:link {
font-size: 9px;
color: #fffffe;
}
p {
margin-top: 6px;
margin-bottom: 3px;
padding-top: 3px;
padding-bottom: 0;
}
a {
color: DarkBlue;
font-stretch: expanded;
font-family: verdana, arial, helvetica, sans-serif;
text-decoration: none;
}
a:hover {
link: #000;
color: Darkred;
}
a:active {
link: #000;
color: RED;
}
.h4 {
margin-top: 5px;
margin-bottom: 3px;
color: #222;
text-align: left;
font: 95% verdana, arial, helvetica, sans-serif;
padding: 0 0 0 5px;
}
.infra-rouge {
margin-top: 5px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: center;
background: #eee;
padding: 5px;
}
.rouge {
margin-top: 5px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: center;
background: #FFE4E1;
padding: 5px;
}
.orange {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: center;
background: #F4A460;
padding: 5px;
}
.jaune {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: center;
background: #E8DA60;
padding: 5px;
}
.vert {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: center;
background: #3CB371;
padding: 5px;
}
.bleu {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: center;
background: lightblue;
padding: 5px;
}
.indigo {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: center;
background: #C97FFF;
padding: 5px;
}
.violet {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: center;
background: plum;
padding: 5px;
}
.ultra-violet {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: center;
background: lightgrey;
padding: 5px;
}
.rose {
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: center;
background: #FFC8C2;
padding: 5px;
}
div.wap {
border: 5px red solid;
text-align: center;
background: #eee;
font-size: 25px;
margin: 50px 10px;
padding: 50px 10px;
}
.box_cover {
border: solid;
border-color: #eee;
}
.message_systeme {
margin-top: 10px;
margin-bottom: 20px;
font-size: 90%;
color: black;
background: #eee;
font-weight: normal;
border: solid;
border-color: #ddd;
text-align: center;
padding: 20px 60px;
}
.erreur_systeme {
margin-top: 10px;
margin-bottom: 20px;
color: black;
background: #FAA;
font-weight: normal;
border: solid;
border-color: #FF4242;
text-align: center;
padding: 20px 60px;
}
.reply-quote {
height: 170px;
width: 100%;
overflow: auto;
border: 1px solid #666;
padding: 8px;
}
.public5 {
margin-top: 5px;
margin-bottom: 5px;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
border: solid #ddd 2px;
padding: 10px 10px 10px 2em;
font: 9pt verdana, arial, helvetica, sans-serif;
}
.public5 p {
font-size: 90%;
font: 9pt courier, serif;
}
	
.message {
margin-top: 5px;
margin-bottom: 3px;
color: #222;
text-align: left;
font: 9pt Comic Sans MS, sans-serif;
padding: 5px 5px 5px 4px;
}
.claire {
margin-top: 6px;
margin-bottom: 3px;
font-size: 90%;
color: #222;
text-align: left;
background: #FFFAFA;
padding: 5px 10px 5px 6px;
}
.fonce {
margin-top: 6px;
margin-bottom: 3px;
font-size: 90%;
color: #222;
text-align: left;
background: #FFE4E1;
padding: 5px 10px 5px 6px;
}
.alerte {
margin-top: 5px;
margin-bottom: 5px;
font-size: 90%;
color: black;
text-align: left;
background: #Faa;
padding: 20px 10px 20px 20px;
}
.gallery_image{
border-top: solid #ddd 1px;
border-left: solid #ddd 1px;
border-right: solid #ddd 1px;
}
.gallery_image_menu {
border-left: solid #ddd 1px;
border-right: solid #ddd 1px;
border-bottom: solid #ddd 1px;
width: 150px;
text-align: center;
}
.gallery_image_menu select {
font-size: 10px;
border: 1px solid;
width: 100px;
}

.gallery_image_menu input {
font-size: x-small;
}

.gallery_button_menu {
border-top: solid #fff 4px;
background: #ddd;
text-align: center;
}
.copy {
color: #444;
text-align: center;
background: #ddd;
font: 10px verdana, arial, helvetica, sans-serif;
margin: 0 10px 10px;
padding: 5px;
}
/* messages.php layout */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message-container {
    margin: auto;
    width: 60%;
    border:3px;
    padding: 10px;
   height: auto;
   overflow: hidden;
}
#message-desc {
  float: left;
  width: 80px;
  padding-right: 10px;
}
#message-text
{
  width: auto;
  float: none;
  overflow: hidden;
}
.message-container textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}
/* bonjour le responsive design sur parano.be */
@media screen and (max-device-width: 642px),  screen and (max-width: 642px)
{
  .message-container {
    margin: auto;
    width: 100%;
    border:3px;
  }
  #message-desc {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  #message-text
  {
    width: 100%;
    float: none;
  }
  .message-container  textarea,
  select {
    width: 100%;
  }
  .box_fiche {
    padding: 0px 0px 0px 0px;
  }
  .smileys {
    display: none;
  }
}


/* bots */
.public9 {
margin-top: 5px;
margin-bottom: 5px;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
border: solid #eee;
padding: 5px;
}
/* IR */
.message-infra-rouge {
margin-top: 2px;
border: 2px solid #A9A9A9;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 5px;
}
.background-infra-rouge {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}

/* R */
.message-rouge {
border: 2px solid #DC7777;
border: solid #eee;
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 5px;
}
.background-rouge {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* O */
.message-orange {
border: 2px solid #eaaf67;
border: solid #eee;
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 5px;
}
.background-orange {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* J */
.message-jaune {
margin-top: 2px;
border: 2px solid #C4B963;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 5px;
}
.background-jaune {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* V */
.message-vert {
margin-top: 2px;
border: 2px solid darkgreen;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 5px;
}
.background-vert {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* B */
.message-bleu {
border: 2px solid #6e47fe;
border: solid #eee;
margin-top: 2px;
margin-bottom: 0;
font-size: 90%;
text-align: left;
background: #fff;
padding: 5px;
}
.background-bleu {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* Vi */
.message-violet {
margin-top: 2px;
border: 2px solid #800080;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
text-align: left;
background: #fff;
padding: 5px;
}
.background-violet {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* I */
.message-indigo {
margin-top: 2px;
border: 2px solid #4B0082;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
text-align: left;
background: #fff;
padding: 5px;
}
.background-indigo {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* UV */
.message-ultra-violet {
margin-top: 2px;
border: 2px solid #A9A9A9;
border: solid #eee;
margin-bottom: 0;
font-size: 90%;
text-align: left;
background: #fff;
padding: 5px;
}
.background-ultra-violet {
font-size: 90%;
color: black;
text-align: left;
background: #fff;
padding: 0px;
}
/* contact list */
.contact_friend {
padding: 0;
margin: 0;
list-style-type:none;
list-style-image: none;
list-style-position: outside;
}
.contact_friend ul {
margin: 0;
}
.contact_friend li
{
list-style-type:none;
list-style-image: none;
list-style-position: outside;
margin-left: 2px;
float:left; /*pour IE*/
}
.contact_icon img {
vertical-align: baseline ;
}
.contact_pseudo{
font-size: 13px;
padding-left:5px;
width:60%;
}
.contact_time{
font-size: 9px;
padding-top:4px;
padding-left:1px;
}
/* motd */
.motd_input_text {
font: 11px verdana, arial, helvetica, sans-serif;
background: white; border-style :none; text-align:center; font-size: 11px;
}
.motd_button {
background: transparent; font-size :x-small;
}


/* infra-rouge */

.message-infra-rouge {
        margin-top: 2px;
        border: 1px solid #A9A9A9;
        border-left: 1px solid #A9A9A9;
        margin-bottom: 0;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #ddd;
        padding: 5px;
}

.background-infra-rouge {
        border-left: 1px solid #A9A9A9;
        border-bottom: 1px solid #A9A9A9;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #ddd;
        padding: 1px;
}

/* rouge */

.message-rouge {
        border: 1px solid #DC7777;
        border-left: 1px solid #DC7777;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FFE4E1;
        padding: 5px;
}

.background-rouge {
        border-left: 1px solid #DC7777;
        border-bottom: 1px solid #DC7777;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FFE4E1;
        padding: 1px;
}




/* orange */

.message-orange {
        border: 1px solid #eaaf67;
        border-left: 1px solid #eaaf67;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FDD9AC;
        padding: 5px;
}

.background-orange {
        border-left: 1px solid #eaaf67;
        border-bottom: 1px solid #eaaf67;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FDD9AC;
        padding: 1px;
}


/* jaune */

.message-jaune {
        border: 1px solid #C4B963;
        border-left: 1px solid #C4B963;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FFFFCC;
        padding: 5px;
}
.background-jaune {
        border-left: 1px solid #C4B963;
        border-bottom: 1px solid #C4B963;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #FFFFCC;
        padding: 1px;
}



/* vert */

.message-vert {
        margin-top: 2px;
        border: 1px solid darkgreen;
        border-left: 1px solid darkgreen;
        margin-bottom: 0;
        font-size: 90%;
        color: black;
        text-align: left;
        background:  #CCFCCC;
        padding: 5px;
}
.background-vert {
        border-left: 1px solid darkgreen;
        border-bottom: 1px solid darkgreen;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background:  #CCFCCC;
        padding: 1px;
}



/* bleu */

.message-bleu {
        border: 1px solid #313BFF;
        border-left: 1px solid #313BFF;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 90%;
        text-align: left;
        background: lightskyblue;
        padding: 5px;
}
.background-bleu {
        border-left: 1px solid #313BFF;
        border-bottom: 1px solid #313BFF;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: lightskyblue;
        padding: 1px;
}


/* violet */

.message-violet {
        margin-top: 2px;
        border: 1px solid #800080;
        border-left: 1px solid #800080;
        margin-bottom: 0;
        font-size: 90%;
        text-align: left;
        background: plum;
        padding: 5px;
}
.background-violet {
        border-left: 1px solid #800080;
        border-bottom: 1px solid #800080;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: plum;
        padding: 1px;
}


/* indigo */

.message-indigo {
        margin-top: 2px;
        border: 1px solid #4B0082;
        border-left: 1px solid #4B0082;
        margin-bottom: 0;
        font-size: 90%;
        text-align: left;
        background: #A784EC;
        padding: 5px;
}
.background-indigo 
{
        border-left: 1px solid #4B0082;
        border-bottom: 1px solid #4B0082;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #A784EC;
        padding: 1px;
}




/* ultra-violet */

.message-ultra-violet {
        margin-top: 2px;
        border: 1px solid #A9A9A9;
        border-left: 1px solid #A9A9A9;
        margin-bottom: 0;
        font-size: 90%;
        text-align: left;
        background: #eee;
        padding: 5px;
}

.background-ultra-violet {
        border-left: 1px solid #A9A9A9;
        border-bottom: 1px solid #A9A9A9;
        margin-bottom: 0px;
        font-size: 90%;
        color: black;
        text-align: left;
        background: #eee;
        padding: 1px;
}


/* contact list */

.contact_friend {
        padding: 0;
        margin: 0;
        list-style-type:none;
}

.contact_friend ul {
        margin: 0;
}

.contact_friend li
{
        margin-left: 2px;
        float:left; /*pour IE*/
}

.contact_icon img {
        vertical-align: baseline ;
}

.contact_pseudo{
        font-size: 13px;
        padding-left:5px;
        width:60%;

}

.contact_time{
        font-size: 9px;
        padding-top:4px;
        padding-left:1px;
}


.h1
{
   font-size: 3px;
}



