.box_logo {
	text-align: left;
	border: solid #ddd 4px;
	font: bold 12pt Verdena;
	color: #FCFCFC;
	text-decoration: none;
	background: #C4B963;
	margin: 10px 10px 0;
	padding: 2px;
}
.title_item {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 85%;
	color: #FFFFFE;
	background: #C4B963;
	font-weight: Bold;
	border-color: #ddd;
	text-align: left;
	padding: 2px 2px 2px 10px;
}
.box_profil {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 100%;
	color: Black;
	background: #FFFFCC;
	font-weight: normal;
	border: solid;
	border-color: #ddd;
	text-align: left;
	padding: 0.3em .6em;
}
.cadre {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 110%;
	color: Black;
	background: #FFFFCC;
	font-weight: bold;
	border: solid;
	border-color: #ddd;
	text-align: center;
	padding: 0.3em .6em;
}



