.box_logo {
	text-align: left;
	border: solid #ddd 4px;
	font: bold 12pt Verdena;
	color: #009;
	text-decoration: none;
	background: #A9A9A9;
	margin: 10px 10px 0;
	padding: 2px;
}
.title_item {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 70%;
	color: #FFFFFE;
	background: #B1B1B1;
	font-weight: Bold;
	border-color: #ddd;
	text-align: left;
	padding: 3px 3px 4px 10px;
}
.box_profil {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 100%;
	color: Black;
	background: #eee;
	font-weight: normal;
	border: solid;
	border-color: #eee;
	text-align: left;
	padding: 0.3em .6em;
}
.cadre {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 110%;
	color: Black;
	background: #B1B1B1;
	font-weight: bold;
	border: solid;
	border-color: #ddd;
	text-align: center;
	padding: 0.3em .6em;
}

.h1
{
   font-size: 3px;
}


